;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 ;; ;; Uncomment this sections if inside GFW.
 ;; :repositories
 ;;   {"central" {:url "https://maven.aliyun.com/repository/public"}
 ;;    "clojars" {:url "https://mirrors.tuna.tsinghua.edu.cn/clojars"}}

 :dependencies
 [[com.taoensso/sente "1.19.2"]
  [com.thheller/shadow-css "0.4.5"]
  [reagent "1.2.0"]]

 :dev-http
 {8080 "public"}

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules
   {:main                               ; becomes public/js/main.js
    {:init-fn sateoy.core/init}}}}}
